body {
    background-image:linear-gradient(rgba(255, 255, 255, 0.658),rgba(255, 255, 255, 0.658)), url("../Images/comicbook.jpg");
    background-repeat: repeat;
    background-size: 500px 500px;
    height:200vh;
}

.hero h1 {
    font-size: 5em;
    background-color: rgb(185, 16, 50);
    color:black;
    text-align: center;
    margin:0;
    font-family: 'Anton', sans-serif;

}
i {
    font-family: 'Anton', sans-serif;
}

.select-trailer {
    margin:50px;
    width:200px;
    height:100px;
    font-size:30px;
    font-family: 'Anton',sans-serif;
    border-style: groove;
    background-color:rgb(39, 163, 60);
    border-radius: 6px;
    box-shadow:5px 10px #888888;

}

.select-trailer:hover {
    background-color:rgb(255, 8, 0);
    box-shadow: 5px 10px;
}

.select-features {
    margin:50px;
    width:200px;
    height:100px;
    font-size:30px;
    font-family: 'Anton',sans-serif;
    border-style: groove;
    background-color:rgb(68, 0, 255);
    border-radius: 6px;
    box-shadow:5px 10px #888888;

}
.select-features:hover {
    background-color:rgb(255, 8, 0);
    box-shadow: 5px 10px;
}

.marvel-link {
    text-decoration: none;
    color:black;
}

form {
    background-color: rgb(201, 197, 197);
    padding-top:10px;
    border-radius: 10px;
    margin: 25px;
}
.search-bar {
    text-align:center;
}