body {
    margin:0;
}
*{
    outline:1px dotted red;
}


.hero h1 {
    font-size: 5em;
    background-color: rgb(185, 16, 50);
    color:black;
    text-align: center;
    margin:0;
    font-family: 'Anton', sans-serif;

}
i {
    font-family: 'Anton', sans-serif;
}

.side-x {
    /* justify-content: center;
    align-items: center; */
    /* padding: 75px; */
    margin-top: 75px;
    /* width:33%; */
    /* float:left; */
      
}
.subtitle {
    color:white!important;
    font-size: 3em!important;
}
img {
    margin:0;
    padding:0;
}
.side-y {
    /* float:right;
    justify-content: center;
    align-items: center; */
    padding:80px;
    margin-top: 100px;
    margin-right:25px;
    /* width:33%; */
    background-image: linear-gradient(blue,white,blue);
    border-radius: 25px;
    border-style: double;
    border-color: cornsilk;
    box-shadow: 5px 10px 18px red;
}

.hero h3 {
    font-size: 45px;
    margin-top:0px;
    font-family: 'Anton', sans-serif;
}
.hero-inner {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("/Marvel.Eye/assets/Images/comics-hero-image.jpg");
    margin:0%;
    width:100vw;
    height:100vh;
}

#quote {
    color:white;
    font-size: 24px;
    font-family: sans-serif;
    /* margin-left: 100px; */
    /* display:flex; */
    /* width:50%; */
}


#character-select {
    font-family: 'Anton',sans-serif;
    font-size:24px;
}

select {
    width: 300px;
    height:40px;
    border-radius: 25px;
    /* align-items: center; */
    font-size:20px;
    color:blue;
}

option {
    text-align: center;
}
button {
    transition-duration: 0.4s;
    height:40px;
    width:100px;
    background-color:green;
    border-radius: 25px;
    /* align-items: center; */
    font-size:20px;

  }
  
button:hover {
    background-color: black;
    color: white;
  }
